.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0;
}

.description {
  width: 45%; /* Ширина описания */
}

.map-container {
  width: 50%; /* Ширина карты */
}

.map {
  height: 300px; /* Высота карты */
}
